@font-face {
  font-family: "Work Sans light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v8/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32KxfXBi8Jpg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v8/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXBi8Jpo3fKyE.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
body {
  background-color: #343a40 !important;
  color: white;
}
header ul {
  padding-right: 30px !important;
  padding-top: 20px;
  font-family: Work Sans light !important;
}
header a {
  margin-top: -12px !important;
}
header {
  height: 80px !important;
  margin-top: -20px;
  -webkit-box-shadow: -1px 11px 36px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 11px 36px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 11px 36px 0px rgba(0, 0, 0, 0.75);
  background-color: #292c2f;
}

#container {
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0px;
}

#body-header,
#more-problems-header {
  padding-top: 100px;
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

#body-subtext,
#more-problems-sub {
  margin-top: 10px;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#button {
  text-align: left;
  margin-top: 30px;
  position: relative;
  width: 88%;
  background-color: #00b4ff;
  border: 3px solid #018cc8;
  border-radius: 10px;
  margin-right: 5%;
  margin-left: 5%;
  font-family: Work Sans;
  color: white;
  font-size: 20px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  z-index: 10;
}

.text {
  margin-right: 60px;
}

#button img,
#code img {
  right: 0;
  height: 30px;
  padding-bottom: 10px;
  padding-right: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-35%);
  width: 30px;
}

#body-sec-buttons-desc-1,
#body-sec-buttons-desc-2,
#body-sec-buttons-desc-3,
#body-sec-buttons-desc-4,
#body-sec-buttons-desc-5,
#body-sec-buttons-desc-6,
#body-sec-buttons-desc-7 {
  text-align: left;
  margin-top: -5px;
  width: 85%;
  background-color: #00b4ff;
  margin-left: 5%;
  margin-right: 5%;
  font-family: Work Sans;
  color: white;
  font-size: 20px;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 20px;
  margin-bottom: -40px;
  z-index: -1;
  opacity: 0;
  line-height: 0;
  min-height: 0px;
  border: 3px solid#018cc8;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#imgs {
  display: block;
  text-align: center;
}

#more-problems svg,
#more-problems img {
  display: inline;
  height: 80px;
  width: 80px;
}

#more-problems svg path {
  fill: black;
}

form {
  margin-top: 30px;
  width: 92%;
  margin-left: 5%;
}

input[type="text"] {
  width: 100%;
  height: 30px;
  border: 3px solid grey;
  padding-left: 5px;
  font-family: "Work Sans";
  font-size: 20px;
}

input[type="submit"] {
  border: 1px solid red;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 102%;
}

#sub_button {
  width: 100%;
  text-align: center;
  background-color: #00b4ff;
  border: 3px solid#018cc8;
  height: 30px;
  padding-top: 5px;
  cursor: pointer;
}

textarea#desc1,
textarea {
  width: 100%;
  height: 130px;
  border: 3px solid grey;
  padding-left: 5px;
  font-family: "Work Sans";
  resize: none;
  font-size: 20px;
}

input:focus,
textarea:focus {
  outline: none;
}
@media only screen and (max-width: 950px) {
  #Branding {
    display: none;
  }
  header ul li {
    float: left;
  }
}
